:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --bg-color: #fcfcfc;
  --ac-one: #ec3f38;
  --ac-two: #2e2b2c;
  --ac-three: #4074db;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
a {
  text-decoration: none;
}


nav {
  /* width: 100%; */

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-color);
  padding: 20px 25px;
}
.links {
  text-decoration: none;
  font-weight: 700;
  color: var(--ac-one);
}
.nav-logo {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}


.hero {
  min-height: 50vh;
  text-align: center;
  background-color: var(--bg-color);
}
.hero > h1 {
  margin: 0;
  font-family: 'Tac One', sans-serif;
  font-size: 144px;
  color: var(--ac-one);
  letter-spacing: -1.5px;

  -webkit-text-stroke: var(--ac-two);
	-webkit-text-stroke-width: 3px;
}
.hero > p {
  color: var(--ac-two);
  font-size: 22px;
  letter-spacing: 1px;
}


.content {
  background-color: var(--bg-color);
  color: var(--ac-two);
  text-align: center;
}
.content > ul {
  margin: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.content > ul > li {
  max-width: 270px;
  list-style: none;
  margin: 15px;
}
.post-img {
  width: 270px;
  height: 270px;
  border-radius: 50%;
  object-fit: cover;
}


.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-color);
  padding: 20px 25px;
}
.post > h1 {
  margin: 0;
  font-family: 'Tac One', serif;
  font-size: 84px;
  color: var(--ac-one);

  -webkit-text-stroke: var(--ac-two);
	-webkit-text-stroke-width: 2px;
}
.post-body {
  max-width: 900px;
  margin: auto;
  margin-bottom: 25px;

  color: var(--ac-two);
  text-align: justify;
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
  line-height: calc(1ex / 0.32);
}
.post-body > p {
  margin-top: 35px;
}
.post-body::first-letter {
  font-size: 88px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-right: 10px;
  text-shadow: -5px -5px 0 rgba(0, 0, 0, 0.5);
  color: var(--ac-one);
}
.posted-image {
  width: 80%;
  height: 300px;
  margin-bottom: 50px;
  object-fit: cover;

  border-radius: 20px 0 20px 0;
  box-shadow: 5px 5px 10px 10px hsla(0, 0%, 2%, 0.8);
}
.info {
  width: 100%;
  display: flex;
  justify-content: space-between!important;
  font-size: 14px;
  color: var(--ac-three);
  font-style: italic;
}


.scroll-watcher {
  height: 10px;
  position: sticky;
  top: 0;
  z-index: 50;
  background-color: var(--ac-one);
  width: 100%;
  scale: 0 1;
  transform-origin: left;

  animation: scroll-watcher linear;
  animation-timeline: scroll();
}
@keyframes scroll-watcher {
  to { scale: 1 1;}
}


.text-shadow {
	font-style: italic;
	text-transform: uppercase;
	color: transparent;
	-webkit-text-stroke: var(--ac-two);
	-webkit-text-stroke-width: 2px;
	transition: all 0.5s ease-in-out;
	text-align: center;
	letter-spacing: 0.2em;
	/* animation: flicker 0.5s ease-in-out infinite alternate; */

	&:hover {
		color: var(--ac-one);
	}
}
/* @keyframes flicker {
	0% {
		opacity: 0.5;
		text-shadow: 2px 2px 10px var(--ac-two);
	}
	100% {
		opacity: 1;
		text-shadow: 2px 2px 20px var(--ac-two);
	}
} */


.spin {
  position: absolute;
  width: 270px;
  height: 270px;
  border: 2px solid rgba(255, 255, 255, .3);
  border-radius: 50%;
  border-top-color: var(--ac-one);
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;

  box-shadow:
    0 0 15px 5px var(--ac-two),
    0 0 25px 15px var(--ac-one),
    0 0 35px 20px var(--ac-three);
}
@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}


@media screen and (max-width: 768px) {
  .nav-logo {
    display: none;
  }
  .hero {
    padding: 50px 10px;
  }

  .hero > h1 {
    font-size: 104px;
    -webkit-text-stroke: var(--ac-two);
	  -webkit-text-stroke-width: 2px;
  }

  .content > ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .content > ul > li {
    max-width: 230px;
    list-style: none;
    margin: 15px;
  }
  .post-img {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    object-fit: cover;
  }

  .spin {
    position: absolute;
    width: 230px;
    height: 230px;
    border: 2px solid rgba(255, 255, 255, .3);
    border-radius: 50%;
    border-top-color: var(--ac-one);
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
  }
}

@media screen and (max-width: 400px) {
  .nav-logo {
    display: none;
  }
  .hero{
    text-align: center;
  }
  .hero > h1 {
    font-size: 84px;
    -webkit-text-stroke: var(--ac-two);
	  -webkit-text-stroke-width: 1px;
  }
  .hero > p {
    text-align: center;
    font-size: 18px;
  }


  .content > ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .content > ul > li {
    max-width: 170px;
    list-style: none;
    margin: 15px;
  }
  .post-img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    object-fit: cover;
  }

  .spin {
    position: absolute;
    width: 170px;
    height: 170px;
    border: 2px solid rgba(255, 255, 255, .3);
    border-radius: 50%;
    border-top-color: var(--ac-one);
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
  
    box-shadow:
    0 0 15px 5px var(--ac-two),
    0 0 25px 15px var(--ac-one),
    0 0 35px 20px var(--ac-three);
  }
}